//directivas
@use 'variables'as v;


//Ejemplo de mixin sirve como una funcion
// @mixin heading ($color, $border-radius: false) { //definir el parametro
//     text-transform: uppercase;
//     font-size: 2.4rem;
//     color: $color;
//     background-color: black;

//     @if $border-radius {
//         border-radius: 1rem;
//     }
// }   

@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}

@mixin boton($bgColor, $display ) {
    background-color: $bgColor;
    color: v.$blanco;
    padding: 2rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    text-decoration: none;
    width: 50%;
    display: $display;
    text-align: center;
    border: none;
    margin:  2rem auto;

    &:hover {
        background-color: darken($bgColor, 5);
        cursor: pointer;
    }
}

@mixin boton_submit($bgColor, $display) {
    background-color: $bgColor;
    border: none;
    border-radius: 1rem;
    font-size: 2rem;
    padding: 2rem;
    display: $display;
    transition: background-color .3s ease;
    grid-column: 1 / 3;
    width: 100%;
    color: v.$blanco;  
    text-transform: uppercase;
    font-weight: bold;
    &:hover {
        background-color: darken($bgColor, 5);
        cursor: pointer;
    }
}