
// Tipografia
$fuente_principal : 'Montserrat', sans-serif;

// Colores
$rosa : #F53756;
$amarillo : #FEF46D;
$morado : #752F97;
$negro : #000;
$blanco : #FFF;
$verde : #14840a;
$verdeClaro : #1fc210;

// Tamaños de media Queries
$telefono: 180px;
$tablet: 768px;
$desktop: 992px;
$desktopXL:  1200px;