
// Tipografia
$fuente_principal : 'Montserrat', sans-serif;

// Colores

$amarillo : #f3871a;
$negro : #000;
$blanco : #FFF;
$verde : #14840a;
$verdeClaro : #1fc210;
$rojo : rgb(202, 8, 8);
$blanco : white;

// Tamaños de media Queries
$telefono: 180px;
$tablet: 768px;
$desktop: 992px;
$desktopXL:  1200px;